[run]
omit =
    */site-packages/*,
    lab/*,
    */migrations/*,
    */auth,
    */test_api.py,


[report]
omit =
    */site-packages/*,
    lab/*,
    */migrations,
    */auth,
    */test_api.py,

