aniso8601==8.0.0
blinker==1.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
flask-requests==0.0.14
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.2
flask-swagger-ui==3.36.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsonify==0.5
MarkupSafe==1.1.1
pampy==0.3.0
pytz==2020.4
requests==2.25.0
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
